h1#homeHeading, p {
  color: black !important;
}

a.navbar-brand.page-scroll, a.page-scroll {
  color: black !important;
}

.hunterimg {
  height: 500px;
  width: 500px;
}

.vaimg {
  height: 300px;
  width: 400px;
}

.logo {
  margin-top: -2px;
  height: 30px;
  width: 60px;
  margin-bottom: -15px;
}

.imgborder {
  border: 4px black solid;
}

.marginn {
  margin: 10px !important;
}

.imgcenter {
  align-self: middle !important;
  width: 50%;
  margin: 0 auto;
}

.journeyimg {
  height: 650px;
  width: 900px;
  display: block;
  margin-left: -10%;
  margin-right: 60%;
}

.headerimg {
  background-image: url(../img/portfolio/thumbnails/artists1.png) !important;
}

.headerimg2 {
  background-image: url(../img/portfolio/thumbnails/im33.png) !important;
}

.headerimg3 {
  background-image: url(../img/portfolio/thumbnails/im34.png) !important;
}

.orange {
  color: white !important;
}

.test2{
  color: #F05F40 !important;
}

.black{
  color: black !important;
}

.bolded{
  font-weight: bold !important;
}

.boldit{
  font-weight: 800;
  font-style: italic;
  text-align: center !important;
}

.centerBox {
  margin: 0 auto !important;
  width: 50% !important;
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.floaty {
  float: left !important;
}

.floaty {
  float: right !important;
}

.center {
  text-align: center !important;
}

.adjust {
  margin-top: 50px;
}

.adjust1 {
  margin-top: 100px;
}

.imgCentral {
  margin:0 auto;
}

.imgFix {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}